h1 {
	color: white;
	text-align: center;
	margin-bottom: 20%;
}

.log {
	display:inline-block;
    width:100%;
}

.login-button {
	display: absolute;
	left: 35%;
	width: 30%;
	right: 35%;
}

#long-button {
	left: 25%;
	width: 50%;
	right: 25%;
}