# Usability Testing Report

## Feedback to Nudge
### B14

The first feedback that we received from PicFix (Team B14) was about our profile creation process. 
They believed that we maybe should not have a next button on top, but have a swipe feature on our 
application for the user to be able to go forward and back on the categories portion of the creation process. 
That, or to compliment the two with each other to add a better user experience when creating their profile. 
Second, they believed that categories should be able to have an “I don’t remember” option when deciding whether 
or not you have already done one of the nudges in your past during the profile creation process, and when expanding 
on your profile.

To resolve these issues, we are going to first take a look back at the creation process and determine what will easier
for the user to be able to fill out our questions during the creation process (most likely have the option to both 
swipe to the next section or press an arrow button to go forward or back). For the “I don’t remember” option, we are 
going to add a third option so that it isn’t just a “yes” or “no” when creating the profile to solve this issue.

For the layout of our application, they first thought the background that we were using made it difficult to be able to 
read the text. They also thought that the “home” screen once logged into the application should not show all of the nudge 
categories, but should only show the categories that are chosen / have the categories with active nudges first. This layout 
would have the home page be “favorites,” then the next page over would have all the categories, then it would continue on 
to information on the profile. Finally, they thought the “random” category should be changed to “important.” This is because 
that category would be what we have determined would be the important nudges that the user should be accomplishing at that 
time, instead of just sending them off on a totally random nudge that might not be very important in helping them becoming 
a better adult at that time. 

For these issues, we are already planning on switching our background / text combination to make our application easier to 
read for our users. We will also be following the advice that we received on have the nudge categories that are applicable 
to the user on the first home screen, then having all of the categories and the ability for the user to expand their profile 
on the next tab over. Finally, we will also be implementing their final advice in changing the “random” category to being 
something similar to “important” so that our users will be getting nudges that will be the best to help guide them in becoming 
better adults. 

### C14

The feedback that we received from group C14 was mostly revolved around the need for us to gamify our application. They believed that by gamifying our application, we can take something that is potentially boring and not exciting, and make it something that we would be able to keep users wanted to push themselves to becoming better adults. They wanted to see a point based game, where as you complete certain tasks (such as going to the dentist or getting your flu shot) you will gain a certain number of points. Once you reach a certain number of points, you will level up and get some other points that you could spend on things, such as coupons or gift cards. Basically, it would be like an experience based game where as you level up you gain some sort of currency that could be spent for real life rewards. Their recommendation was having a plant inside of your profile that you grow as you level up. This would be something like gaining food that you feed the plant when you level up, and then the plant grows. So users will be constantly completing adulting tasks while trying to grow their personal plant for their profile.

Gamifying our application has already been on our list of improvements to our application from our mentoring session, but this feedback will be extremely useful when we decide exactly how we will gamify it. The plant idea, with the leveling up growing the plant, is a great idea for trying to get the user hooked and keeping the application fun, and we will certainly be looking to do something similar to it.

Because we are in the commercialization group, the feedback that we received was to work with companies to help them push promotions through our application. This could be like working with Home Depot to push coupons on products, or for gift cards to be used at retail stores. These could also be used when a user is trying to complete a Nudge. For example, if a user is wanting to purchase emergency supplies, a retail store could have coupons that would allow for them to buy the goods for a cheaper amount. An application that we were told to look at is Shopkick, which is an app that rewards users as they plan out their trip to the store. 

Originally, we were looking to have advertisements inside of our application for promotion of products or for promotions of investment / savings accounts, but this addition of coupons could really help us build relationships with companies and to turn a profit. By having the coupons for the items instead of just advertisements, it would give the user more incentive to buy the products from the companies that we are partnered with. 



## Nudge's Feedback to other groups

### C14


The team had me test headphones where I could pop-off the tops and switch them out with another headphone’s pair of earbuds. This was an interesting concept modular headphones. However, with really long cables from wired headphones when trying to pop them off I was either getting tangled up or was too nervous about ripping off the earbuds and damaging them. It took me over a minute and I thought it’d only take me about ten seconds to switch out the earbuds! the tanglement of the wires was the biggest issue, hopefully wireless headphones will shorten the wire length and make the switching of earbuds from one headphone to another much more seamless
This seems like an interesting case study I’d love to switch between my workout earbuds to my casual over the ear headphones for while studying or casually listening to music. 

### B14

Home page with form fields, picture to autofill the fields <\br>
Pulls GPS, don’t need to write color of car, will be found out from picture
Create a profile (FN, LN, Email) didn’t feel like making a new profile, felt like editing, need a confirmation since not sure if it was saved, no submit button
Information about it on the bottom, clicked on wrong one originally
Better to have information circles instead of single ‘Category Descriptions’ on the bottom
Title categories redundant
Left aligned of button nots the best
Camera icon for all icons just so I know that I am pulling up a camera
Possibly split buttons so information links on the left, functionality/camera button on the right
Possibly grayish text just to give a shorthand description
Possible X in top left corner to remind of snapchat to delete a picture
Switch undo and approve so that undo is on the left, approve on the right
Very easy to create reports
Should be able to send anonymously whenever possible, clicking on option should delete your personally identifiable information from the sample report

### B15

The feedback we provided to this group was that they should find a way to alert users when they leave their parking spot/park that they should update the app to reflect the change in available parking. We felt that as a user we would never actively think that as soon as we are heading out or coming home we should open the app and update information about our spot for others to use. Also, since adding updates to the app doesn’t directly benefit the person adding information, we suggested that there should be some incentive provided for a person to update parking information for other people to use. Another suggestion we had was to enable a user to open up the app when they start looking for parking and as soon as a spot becomes open, it will ping the user that there is a spot and tell them how to get there. This way, they don’t have to stare at their phone while driving since that is dangerous. Lastly, we suggested that there be more detail in how portions of the street are labeled for parking. For example, instead of high, moderate or low difficulty finding parking maybe create a way to count how many open spots are on that section of street. 

The feedback they provided to us was to make our app more cohesive design wise. They also gave us feedback on our “nudge alert” page that they weren’t sure what the page was telling them. The details button was ambiguous as to if it is details they entered or details that we are providing to them. They also were wondering if the medical details were pulled from their health history (which they arent) so we need to make that more clear. Lastly, they suggested that we gamify the app to make people want to complete their tasks. They suggested we use points with rewards such as coupons and discounts. 
