.left-button {
	position: absolute;
	left: 13%;
	width: 35%;
	right: 52%;
}

.right-button {
	position: absolute;
	left: 52%;
	width: 35%;
	right: 13%;
}

.top-button {
	top: 60%;
	height: 10%;
}

.bottom-button {
	top: 75%;
	height: 10%;
}
