page-home {
	background-color: green;
}

.fixed-content {
	background-color: rgb(154,205,50);
}

h2 {
	color: white;
	text-align: center;
}

.item-title {
	color: black;
}

ion-list {
	background-color: rgb(54,150,30);
}